#root {
    width: 100%;
    height: 100vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.root {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2rem;

    select {
        height: 330px;
        min-width: 100px;
    }
}

.selects {
    display: flex;
    justify-content: center;
    gap: 4px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    cursor: pointer;
    user-select: none;
}

.last:not(:last-child) {
    border-bottom: 2px solid black;
}

thead {
    position: sticky;
    top: 0;
    background: antiquewhite;
}